//fonts
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Lato', sans-serif;
// weights: 300, 400, 700



.header{
    align-items: center;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    width: 92%;
    margin: 3% auto;

    .hamburger{
        top: 71px;
        left: 30px;
        cursor: pointer;
        position: absolute;
        @media screen and (min-width: 1140px){
            display: none;
        }

        span{
            position: absolute;
            left: 6%;
            width: 40px;
            height: 6px;

            &:first-child{
                background-color: #72adcc;
                position: absolute;
            }
            &:nth-child(2){
                background-color: #ecdc88;
                position: absolute;
                top: 15px;
            }
            &:last-child{
                background-color: #cd9394;
                position: absolute;
                top: 30px;
            }
            
        }
    }

    .hero-section{
        @media screen and (max-width: 767px){
            background-size: cover;
            height: 100vw;
        }
    }

    .logoMobile{
        display: flex;
        margin: 6% auto;
        margin-top: 23%;
        @media screen and (min-width: 768px){
            margin-top: 10%;
        }
        @media screen and (min-width: 1140px){
            display: none;
        }

        img{
            cursor: pointer;
        }
    }

    .logoDesktop{
        display: none;
        @media screen and (min-width: 1140px){
            display: flex;
        }

        img{
            cursor: pointer;
        }
    }
}

#menu-nav-menu{
    display: none;
    
    @media screen and (min-width: 1140px){
        display: flex;
        flex-direction: row;
        font-family: 'Source Sans Pro', sans-serif;
        white-space: nowrap;
    }

    > li{ //direct child or first lis
        padding-left: 30px;

        a{
            text-decoration: none;
            color: #000;
            &:hover{
                color: #72adcc;
            }

        }

        > ul { 
            display: none;
            margin-top: 10px;

            > li { //grandchildren 
                padding-bottom: 10px;
            }
        }
        
    }

}

.home-content{
    .intro{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 19% auto;
        align-items: center;
        

        img{
            @media screen and (max-width: 767px){
                width: 39%;
            }
            @media screen and (min-width: 768px){
                width: 35%;
                padding-bottom: 20px;
            }
            @media screen and (min-width: 1024px){
                width: 25%;
            }
        }

        p{
            line-height: 1.9em;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 0.9em;
            letter-spacing: 0.03em;
            color: #000;
            @media screen and (max-width: 767px){
                width: 72%;
                margin-top: 10px;
            }
            @media screen and (min-width: 768px){
                max-width: 50%;
                line-height: 2.1em;
            }
            @media screen and (min-width: 1224px){
                font-size: 1em;
                max-width: 41%;
            }
        }
    }
    
}

.categories{

    .portfolio-categories{
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .single-post{
            position: relative;
            @media screen and (max-width: 767px){
                width: 100%;
            }
            @media screen and (min-width: 768px){
                width: 50%;
            }
            @media screen and (min-width: 1024px){
                width: 25%;
            }

            img{
                width: 100%;
            }

            a{
                width: 25%;
                font-family: 'Lato', serif;
                text-decoration: none; 
                color: #fff;
                font-weight: 300;
                font-size: 1.3em;
                background-color: rgba(0,0,0,0.8);
                padding: 49px 0px;
                letter-spacing: 0.07em;
                text-align: center;
                line-height: 1.6em;
            }
        }

    }

}

.iconIllustrations{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 30% auto;
    align-items: center;
    
    @media screen and (min-width: 768px){
        width: 72%;
        flex-direction: row;
        margin: 25% auto;
    }
    @media screen and (min-width: 1024px){
        margin: 25% auto;
    }
    @media screen and (min-width: 1224px){
        width: 53%;
        margin: 20% auto;
    }
    @media screen and (min-width: 1440px){
        width: 50%;
        margin: 17% auto;
    }
    

    .shop, .fees, .classes{
        @media screen and (max-width: 767px){
            margin-top: 60px;
        }
        display: flex;
        flex-direction: column;
        min-width: 104px; 
        margin-top: 30px; 
        padding: 9px 10px; 
        align-items: center;

        a{
            @media screen and (max-width: 767px){
                min-width: 230px;
            }
            min-width: 99px;
            display: flex;
            justify-content: center;
            text-decoration: none;
            color: #fff;
            padding: 9px 10px;
            margin-top: 30px;
            font-family: 'Lato', serif;
            font-weight: 300;
            font-size: 1.1em;
            letter-spacing: 0.07em;
            text-align: center;
            line-height: 1.6em;
        }
    }

    .shop{

        img{
            width: 48%;
        }
        a{
            background-color: #8ab6d8;
        }

    }

    .fees{

        img{
            width: 39%;
        }
        a{
            background-color: #efd97e;
        }
    }

    .classes{

        img{
            width: 53%;
        }

        a{
            background-color: #c68688;
        }
    }
}


.contactForm{
    @media screen and (max-width: 767px){
        flex-direction: column;
        margin: 10% auto;
    }
    background-color: #c8dfeb;
    width: 100%;
    font-family: 'lato';
    font-weight: 300;
    line-height: 1.9em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 13% auto;
    @media screen and (min-width: 1224px){
        width: 80%;
        padding: 0 10%;
    }
    @media screen and (min-width: 1440px){
        width: 74%;
        padding: 0 13%;
    }

    div{
        width: 65%;
        margin: 0% auto;
        @media screen and (min-width: 768px){
            width: 33%;
            margin: 0% auto;
            margin-top: 10%;
        }
        @media screen and (min-width: 768px){
            width: 33%;
            margin: 0% auto;
            margin-top: 10%;
            margin-bottom: 3%;
        }
        @media screen and (min-width: 1224px){
            width: 35%;
            margin-bottom: 4%;
        }
    }

    .form-text{
        
        p{
            margin-bottom: 30px;
            font-size: 1.2em;
            padding-top: 50px;
            @media screen and (min-width: 768px){
                line-height: 2.1em;
                padding-top: 0px;
            }
        }

        h1{
            font-weight: 500;
            font-size: 1.4em;
            margin-bottom: 17px;
            @media screen and (min-width: 1224px){
                font-size: 1.6em;
            }
        }
    }

    .form-inputs{
        @media screen and (min-width: 768px){
            width: 43%;
        }

        form{
            display: flex;
            flex-direction: column;
            padding-bottom: 50px;
    
            input{
                padding: 20px 13px;
                font-size: 1em;
                margin-bottom: 20px;
                border: none;

                &::placeholder {
                    font-family:'Lato', sans-serif;
                }

                &.sendButton{
                    cursor: pointer;
                    background-color: #93c3db;
                    padding: 24px 0;
                    margin: 13px 0;
                    color: #fff;
                    font-size: 1.2em;
                    @media screen and (min-width: 1224px){
                        padding: 18px 0;
                        margin: 11px 0;
                    }
                    &:hover{
                        background-color: #cd9394;
                    }
                }
            }
        }

    }
}


.footer{
    @media screen and (max-width: 767px){
        flex-direction: column;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 6%;
    padding-bottom: 30px;
    align-items: center;

    .copyright{
        p{
            @media screen and (max-width: 767px){
                font-size: 0.8em;
            }
            padding-bottom: 25px;
            color: gray;
            font-size: 1em;
            margin-top: 25px;

            a{
                color: gray;
                &:hover{
                    opacity: 1;
                    color: #000;
                }
            }
        }
    }

    .right-footer{

        a{  
            padding-right: 30px;

            &:last-child{
                @media screen and (max-width: 767px){
                    padding: 0;
                }
            }
        }
    }
}