//fonts
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Lato', sans-serif;
// weights: 300, 400, 700



.header{
    align-items: center;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    width: 92%;
    margin: 3% auto;

    .hamburger{
        top: 20px;
        left: 20px;
        cursor: pointer;
        position: absolute;
        @media screen and (min-width: 1140px){
            display: none;
            height: 0;
        }
        

        span{
            border-radius: 90%;
            transition: .6s ease-in-out;
            position: absolute;
            left: 6%;
            width: 40px;
            height: 6px;
            &:hover{

                border-radius: 0%;
               
            }
            

            &:first-child{
                background-color: #72adcc;
                position: absolute;
                
            }
            &:nth-child(2){
                background-color: #ecdc88;
                position: absolute;
                top: 15px;
            }
            &:last-child{
                background-color: #cd9394;
                position: absolute;
                top: 30px;
            }
            
        }

        //when burger clicked toggle class of open
        &.open{
            
            span:first-child{
                transform: rotate(45deg);
                transform-origin: left;
                transition: .6s ease;
            }

            span:nth-child(2){
                display: none;
            }

            span:last-child{
                transform: rotate(-45deg);
                transform-origin: left;
                transition: .6s ease-in-out;
            }
        }

        &.mobileMenu{
            z-index: 4;
            transition: .4s ease;
            height:0; 
            @media screen and (max-width: 509px){
                height: 34vh;
            }
        }
    }

    .hero-section{
        @media screen and (max-width: 767px){
            background-size: cover;
            height: 100vw;
        }
    }

    .logoMobile{
        display: flex;
        margin: 6% auto;
        margin-top: 23%;
        @media screen and (min-width: 768px){
            margin-top: 10%;
        }
        @media screen and (min-width: 1140px){
            display: none;
        }

        img{
            cursor: pointer;
        }

    }

    .logoDesktop{
        display: none;
        @media screen and (min-width: 1140px){
            display: flex;
        }

        img{
            cursor: pointer;
        }
    }
}

#menu-nav-menu{
    display: none;
    position: relative;
    
    // hamburger mobile menu
    &.show{
        position: relative;
        width: 100%;

       //mobile menu
        @media screen and (max-width: 1139px){
            display: block;
            text-align: center;
            white-space: nowrap;
            position: absolute;
            left: 0;
            margin-top: -108px;
            background-color: #fff;
        }


    }

    //desktop menu
    @media screen and (min-width: 1140px){
        display: flex;
        flex-direction: row;
        font-family: 'Source Sans Pro', sans-serif;
        white-space: nowrap;
    }

    > li{ //direct child or first lis
        @media screen and (max-width: 1139px){
            padding-bottom: 34px;
            padding-left: 0;
        }
        padding-left: 30px;
        position: relative;
        

        a{  //all mobile menu li a
            @media screen and (max-width: 1139px){
                font-family: 'source sans pro';
                font-size: 1.3em;
                font-weight: 300;
                letter-spacing: 0.06em;
            }
            text-decoration: none;
            color: #000;
            position: relative;

            //underline animation
            &:after{
                content: '';
                position: absolute;
                width: 0;  // 0 to 100 in after
                height: 3px;
                display: block;
                margin-top: 5px;
                right: 0;
                background-color: #72adcc;
                transition: width .2s ease;
            }

            &:hover{
                color: #72adcc;

                //underline animation
                &:after{
                    width: 100%; // from 0 to 100
                    left: 0; // left to right grows
                    background: #72adcc;
                }
                
            }

        }

        > ul { 
            display: none;
            margin-top: 10px;

            > li { //grandchildren 
                padding-bottom: 10px;
            }
        }
        
    }

}

.home-content{
    .intro{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 19% auto;
        align-items: center;
        @media screen and (min-width: 1024px){
            margin: 12% auto;
        }
        

        img{
            @media screen and (max-width: 767px){
                width: 39%;
            }
            @media screen and (min-width: 768px){
                width: 35%;
                padding-bottom: 20px;
            }
            @media screen and (min-width: 1024px){
                width: 25%;
            }
        }

        p{
            line-height: 1.9em;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 0.9em;
            letter-spacing: 0.03em;
            color: #000;
            @media screen and (max-width: 767px){
                width: 72%;
                margin-top: 10px;
            }
            @media screen and (min-width: 768px){
                max-width: 50%;
                line-height: 2.1em;
            }
            @media screen and (min-width: 1224px){
                font-size: 1em;
                max-width: 41%;
            }
        }
    }
    
}

.categories{

    .portfolio-categories{
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .single-post{
            transition: 1s ease-in-out;
            position: relative;
            @media screen and (max-width: 767px){
                width: 100%;
            }
            @media screen and (min-width: 768px){
                width: 50%;
            }
            @media screen and (min-width: 1024px){
                width: 25%;
            }

            .post-link{
                position: relative;
                width: 25%;
                font-family: 'Lato', serif;
                text-decoration: none; 
                font-size: 1.3em;
                letter-spacing: 0.07em;
                text-align: center;

                h3{
                    padding: 6px 57px;
                    position: absolute;
                    background-color: rgba(0,0,0,0.6);
                    color: #fff;
                    font-weight: 300;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 31px;
                    white-space: nowrap;
                    text-align: center;
                    transition: .4s ease-in-out;
                    @media screen and (min-width: 550px){
                        bottom: 50px;
                    }
                    @media screen and (min-width: 768px){
                        bottom: 31px;
                    }
                    @media screen and (min-width: 1024px){
                        bottom: 15px;
                    }
                    @media screen and (min-width: 1224px){
                        bottom: 19px;
                    }
                }

                img{
                    width: 100%;
                    position: relative;
                    transition: .8s ease-in-out;
                }

                &:hover{
                    img{
                        opacity: 0;

                    }
                  
                    h3{
                       
                        background-color: transparent;
                        
                    }
                }

            }
        }

    }

}



.single-post{

    &:first-child{
        
        .post-link:hover{
            background-image: url(../img/portraits-hover.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            background-position: 100% auto;
            height: 0;
            padding-bottom: 119%;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            z-index: 1;

        }
    }

    &:nth-child(2){
        
        .post-link:hover{
            background-image: url(../img/petPortraits-hover.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            background-position: 100% auto;
            height: 0;
            padding-bottom: 119%;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            z-index: 1;
        }
    }

    &:nth-child(3){
        
        .post-link:hover{
            background-image: url(../img/landscapes-hover.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            background-position: 100% auto;
            height: 0;
            padding-bottom: 119%;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            z-index: 1;
        }

    }

    &:last-child{
        
        .post-link:hover{
            background-image: url(../img/stillLifes-hover.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            background-position: 100% auto;
            height: 0;
            padding-bottom: 119%;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            z-index: 1;
        }

    }
}



.iconIllustrations{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 30% auto;
    align-items: center;
    align-content: center;
    
    @media screen and (min-width: 768px){
        width: 60%;
        flex-direction: row;
        margin: 25% auto;
    }
    @media screen and (min-width: 1024px){
        margin: 12% auto;
    }
    @media screen and (min-width: 1224px){
        width: 53%;
    }
    @media screen and (min-width: 1440px){
        width: 50%;
    }
    

    .about, .fees, .classes{
        @media screen and (max-width: 767px){
            margin-top: 60px;
        }
        display: flex;
        flex-direction: column;
        min-width: 104px; 
        margin-top: 30px; 
        padding: 9px 10px; 
        align-items: center;

        a{
            transition: 1s ease;
            @media screen and (max-width: 767px){
                min-width: 230px;
            }
            min-width: 99px;
            display: flex;
            justify-content: center;
            text-decoration: none;
            color: #fff;
            padding: 9px 10px;
            margin-top: 30px;
            font-family: 'Lato', serif;
            font-weight: 500;
            font-size: 1.1em;
            letter-spacing: 0.07em;
            text-align: center;
            line-height: 1.6em;
            @media screen and (min-width: 1024px){
                min-width: 130px;
                font-weight: 500;
            }
            &:hover{
                background-color: gray;
            }
        }
    }

    .about{

        a{
            background-color: #8ab6d8;
        }

    }

    .fees{

        a{
            background-color: #efd97e;
        }
    }

    .classes{

        a{
            background-color: #c68688;
        }
    }
}


.contactForm{
    @media screen and (max-width: 767px){
        flex-direction: column;
        margin: 5% auto;
    }
    background-color: #c8dfeb;
    width: 100%;
    font-family: 'lato';
    font-weight: 300;
    line-height: 1.9em;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4% auto;
    @media screen and (min-width: 1224px){
        width: 80%;
        padding: 0 10%;
        margin: 3% auto;
    }
    @media screen and (min-width: 1440px){
        width: 74%;
        padding: 0 13%;
        margin: 2% auto;
    }

    div{
        width: 65%;
        margin: 0% auto;
        @media screen and (min-width: 768px){
            width: 33%;
            margin: 0% auto;
            margin-top: 10%;
        }
        @media screen and (min-width: 768px){
            width: 33%;
            margin: 0% auto;
            margin-top: 10%;
            margin-bottom: 3%;
        }
        @media screen and (min-width: 1224px){
            width: 35%;
            margin-bottom: 4%;
        }
    }

    .form-text{
        
        p{
            margin-bottom: 30px;
            font-size: 1.2em;
            padding-top: 50px;
            @media screen and (min-width: 768px){
                line-height: 2.1em;
                padding-top: 0px;
            }
        }

        h1{
            font-weight: 500;
            font-size: 1.4em;
            margin-bottom: 17px;
            @media screen and (min-width: 1224px){
                font-size: 1.6em;
            }
        }
    }

    .form-inputs{
        @media screen and (min-width: 768px){
            width: 43%;
        }

        form{
            display: flex;
            flex-direction: column;
            padding-bottom: 50px;
    
            input{
                padding: 20px 13px;
                font-size: 1em;
                margin-bottom: 20px;
                border: none;

                &::placeholder {
                    font-family:'Lato', sans-serif;
                }

                &.sendButton{
                    transition: 1s ease;
                    cursor: pointer;
                    background-color: #93c3db;
                    padding: 24px 0;
                    margin: 13px 0;
                    color: #fff;
                    font-size: 1.2em;
                    @media screen and (min-width: 1224px){
                        padding: 18px 0;
                        margin: 11px 0;
                    }
                    &:hover{
                        background-color: #cd9394;
                    }
                }
            }
        }

    }
}





#archive-page{

    .categories{
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .portfolio-categories{
            width: 100%;

            @media screen and (min-width: 768px){
                width: 50%;
            }
            @media screen and (min-width: 1024px){
                width: 25%;
            }
            

            .single-post{
                width: 100%;
                
            }
        }
    }
}



.contactForm.archive{
    margin-top: -3px;
    margin-bottom: 4%;
}


.single-portfolio{
    display: flex;
    flex-wrap: wrap;
    

    .galleryImages{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 19px 0;


        .image-container{
            position: relative;
            font-size: 1.4em;
            color: transparent;
            transition: .2s ease-in-out;
            white-space: nowrap;
        
            img{

            }


            h2{
                position: absolute;
                left: 50%;
                transform: translate(-50%,-400%);
                letter-spacing: 0.08em;
                text-align: center;
            }

            p{
                position: absolute;
                left: 50%;
                transform: translate(-50%,-260%);
                letter-spacing: 0.08em;
                text-align: center;
            }

            &:hover{
                h2, p{
                    color: #fff;
                    padding: 3px 8px;
                    background-color: rgba(0,0,0,0.6);
                }
                
            }
        }
    }
}





.footer{
    @media screen and (max-width: 767px){
        flex-direction: column;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 6%;
    width: 100%;
    padding-bottom: 30px;
    align-items: center;

    .copyright{
        p{
            @media screen and (max-width: 767px){
                font-size: 0.8em;
            }
            padding-bottom: 25px;
            color: gray;
            font-size: 1em;
            margin-top: 25px;
            font-family: 'source sans pro';
            letter-spacing: 0.05em;

            a{
                color: #72adcc;
                position: relative;
                text-decoration: none;
                
                &:after{
                    content: '';
                    position: absolute;
                    width: 0;  // 0 to 100 in after
                    height: 3px;
                    display: block;
                    margin-top: 5px;
                    right: 0;
                    background-color: #72adcc;
                    transition: width .2s ease;
                }

                &:hover{
                    opacity: 1;
                    color: #000;

                    &:after{
                        width: 100%; // from 0 to 100
                        left: 0; // left to right grows
                        background: #72adcc;
                    }
                }
                   
            }
        }
    }

    .right-footer{
        font-size: 2em;

        a{  
            padding-right: 30px;

            &:last-child{
                @media screen and (max-width: 767px){
                    padding: 0;
                }
            }

            &.in{
                color: #8ab6d8;
            }

            &.mail{
                color: #f0da81;
                font-weight: 600;
                
            }

            &.top{
                color: #c98c8e;
            }

            i{
                transition: 1s ease;
                &:hover{
                    color: gray;
                }
            }

        }
    }
}